.container-page{
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}
.custom-title{
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  color:#757575;
}
.formcustom{
  display: block;
  width: 320px;
  margin:0 auto;
}
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  min-height: 190px;
  background: url('https://avatars.githubusercontent.com/u/7158049?v=3') top right no-repeat #46B6AC;
  background-size: cover;
}
.github {
  margin-bottom: 30px;
  margin-right:30px;

}
.github:nth-child(3n+3){
  margin-right: 0px;
}
.github.mdl-card{
  width: 316px;
}
.github .mdl-card__media{
  text-align: center;
  background-color: rgb(63,81,181);
}
.github img{
  max-width: 100%;
  display: inline-block;
}
