.container-page{
  display: block;
  max-width: 1024px;
  margin: 0 auto;
}
.custom-title{
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  color:#757575;
}
.formcustom{
  display: block;
  width: 320px;
  margin:0 auto;
}
<style>
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  min-height: 190px;
  background: url('https://avatars.githubusercontent.com/u/7158049?v=3') top right no-repeat #46B6AC;
  background-size: cover;
}
.github {
  margin-bottom: 30px
}
.github img{
  width: 45px;
  display: inline-block;
}
